doctype html
html(lang="pt")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= "CV"
    link(rel="stylesheet" href="style/css/main.css")
  body
    div(class="bl-wrap  cv")
        header(class="bl-header  header  cv-header")
            section(class="bl-header__section  cv-header__info -goal")
                hgroup
                    h2.cv-id Carlos Garcia
                    h2.cv-goal Programador Web e Front-end especialista
            section(class="bl-header__section  cv-header__info -contact")
                table
                    thead
                        tr
                            th Onde me encontrar
                            th info
                    tbody
                        tr
                            td 
                                a(href="https://www.linkedin.com/in/carlos-cz") Linkedin
                            td 
                                a(href="https://www.linkedin.com/in/carlos-cz") linkedin.com/in/carlos-cz
                        tr
                        tr
                            td 
                                a(href="https://www.linkedin.com/in/carlos-cz") Github
                            td 
                                a(href="https://www.linkedin.com/in/carlos-cz") github.com/chen-zhenn
                        tr
                        tr
                            td Celular
                            td (11) 97038-9550
                        tr
        main(class="bl-main  content  cv-content")
            section(class="bl-main__section  cv-content__data -resume")
                h3.cv-content__title Sobre
                p
                    | Desde 2008 tenho contato com desenvolvimento Web. Mas em 2010 foi quando comecei lidar com interfaces Web. Onde vivenciei toda evolução do desenvolvimento Web e maturidade pela que a mesma passou. Codando Front-end's com Hacks HTML, CSS, JavaScript e AS3(saudoso Flash) - tempos longínquos...
                    
                p   
                    | Tenho maior profundidade e proficiência na linguagem JavaScript bem como todo seu ecossistema, incluindo Frameworks reativos como React, Vue.js e até mesmo Node.Js - Backend.

                p    
                    | Dado experiência e atuação em projetos de aplicações com design e arquitetura mais madura. Pude ter uma compreensão hands-on(mão na massa) do desenvolvimento ponta-a-ponta - Full Cycle, envolvendo Arquitetura limpa(Clean Architecture), cobertura de testes(unitário, integração e End-to-end ), deploys automatizados CI/CD.

                p    
                    | Em suma, há 12 anos atuando com a Web com DNA Front-end e aquele apreço pelo ecossistema Client-side.

                p 
                    b Competências:
                        | asdasd 
